{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Kunj Ladani</title>
    <meta property="og:site_name" content="Kunj Ladani" />
    <meta property="og:title" content="Kunj Ladani" />
    <meta property="og:description" content="I'm a final-year BCA student with experience in full-stack web development..." />
    <meta property="og:image" content="https://deep-ideas-smash.loca.lt/static/kunj2.jpg" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />
    <meta property="og:url" content="https://deep-ideas-smash.loca.lt/" />
</head>


<body>
    <div class="container mt-3">
        <h1>Kunj Ladani</h1>
        <div class="mb-3 mt-3">
            <img src="{% static 'kunj2.jpg' %}" alt="Kunj Ladani" width="200" height="200"/>
        </div>
        <div class="mb-3 mt-3">
            <p>
                I'm a final-year BCA student with experience in full-stack web development. I've built
                projects using Python and Django for back-end development and am skilled in front-end
                technologies like React.js, HTML, CSS, and Bootstrap. I'm excited to apply my academic
                knowledge to real-world projects and contribute to a team focused on innovation and
                collaboration. I'm eager to learn more about AI technologies.
            </p>
        </div>
    </div>
</body>
</html>